/* LecturerList.css */

.header-section {
    background-color: #003366;
    border-radius: 8px;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .table-header {
    background-color: #003366;
    color: white;
  }
  
  .summary-card-header-primary {
    background-color: #0d6efd; /* Bootstrap Primary Color */
    color: white;
  }
  
  .summary-card-header-info {
    background-color: #17a2b8; /* Bootstrap Info Color */
    color: white;
  }
  
  .summary-card-header-success {
    background-color: #28a745; /* Bootstrap Success Color */
    color: white;
  }
  